aside {
  width: 15rem;
  height: 27rem;
  position: sticky;
  top: 0.75rem;
  background: var(--themeColor);
  padding: 18px 10px;
  box-sizing: border-box;
  margin-top: 0.75rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}
aside .imgBox {
  width: 12.6875rem;
  height: 11.5rem;
}
aside .imgBox img {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto;
  display: block;
}
aside .imgBox .userName {
  width: 100%;
  height: 1.9375rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--fontColor);
  line-height: 1.9375rem;
  text-align: center;
}
aside .imgBox .motton {
  width: 100%;
  height: 1.625rem;
  font-size: 0.625rem;
  color: #999;
  line-height: 1.625rem;
  text-align: center;
}
.ArchiveNum {
  width: 100%;
  height: 2.75rem;
  text-align: center;
}
.ArchiveNum .num {
  font-size: 1rem;
  color: var(--fontColor);
}
.ArchiveNum .numlogo {
  font-size: 0.8125rem;
  color: #999;
}
.docuLogo {
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  color: var(--timeColor);
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  box-sizing: border-box;
}
