.context {
  width: 100%;
  min-height: 34.6875rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: var(--themeColor);
  margin-bottom: 0.75rem;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.context .contextTitle {
  width: 100%;
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  line-height: 3.125rem;
  color: var(--titleColor);
}
.context .contextTime {
  width: 100%;
  height: 3.875rem;
  font-size: 0.75rem;
  color: var(--timeColor);
  line-height: 1.875rem;
  text-align: center;
}
#delete {
  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
  font-size: 1.875rem;
  cursor: pointer;
}
.articleReviews {
  width: 100%;
  min-height: 18.75rem;
  background: var(--themeColor);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 3.125rem;
  padding: 0.625rem;
  box-sizing: border-box;
}
.articleReviews .description {
  width: 100%;
  height: 2.5rem;
  border-bottom: solid 0.1875rem var(--textareaColor);
  margin-bottom: 1.25rem;
}
.articleReviews .description div {
  width: 4.6875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  border-bottom: solid 0.1875rem #000;
}
.articleReviews .textareaBox {
  width: 100%;
  height: 13rem;
  position: relative;
}
.articleReviews .textareaBox textarea {
  width: 100%;
  height: 9.1rem;
  resize: none;
  outline: 0;
  background: var(--textareaColor);
  padding: 1.25rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 0;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.24);
}
.articleReviews .textareaBox .submitText {
  width: 6.25rem;
  height: 3.125rem;
  background-color: #222222;
  color: var(--fontColor);
  font-size: 1rem;
  font-weight: 600;
  line-height: 3.125rem;
  text-align: center;
  margin: 0.3125rem auto;
  float: right;
  border-radius: 1.25rem;
  cursor: pointer;
}
.articleReviews .reviewlist {
  width: 100%;
}
.articleReviews .reviewlist .reviews {
  width: 100%;
  height: 9.375rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 0.1875rem var(--textareaColor);
}
.articleReviews .reviewlist .reviews .header {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.articleReviews .reviewlist .reviews .header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.articleReviews .reviewlist .reviews .userInfo {
  width: 23.375rem;
}
.articleReviews .reviewlist .reviews .userInfo .user {
  width: 10.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articleReviews .reviewlist .reviews .userInfo .user .username {
  font-size: 1rem;
  font-weight: 600;
  color: var(--fontColor);
}
.articleReviews .reviewlist .reviews .userInfo .user .time {
  font-size: 0.625rem;
  color: var(--fontColor);
}
.articleReviews .reviewlist .reviews .userInfo .review {
  margin-top: 1.25rem;
}
